{% extends "layout.html" %}

{% block content %}


 <div class="main main-raised">
  <div class="container" align="center">
    <div class="col-md-8 col-md-offset-2">
        
        <h2 class="title"> <br> Manish Vaidya Travel Blog </h2>

		<div class="col-md-8 col-md-offset-2">
        <br> Musings of an intrepid traveller  
 
      
        Manish Vaidya (@mr_dreamerskies) - Dreamer, Entrepreneur, traveler, music lover, photographer & tech geek

    	</div>
	<br>

 
	5 continents, 20 countries and counting!
	<br>

</div>
<div class="sharethis-inline-follow-buttons"></div>   

</div>
 

 
 </div>

{% endblock %}